/target
/crates/**/target
/examples/**/target

*.env
.claude/
.DS_Store
*.vscode
*.zed
Cargo.lock
*.st
*.npx
*.npz
*.model
*.gguf


*.pftrace
*.safetensors
*.safetensors.index.json
tokenizer.json
**/.cache
**/proptest-regressions
opencode.json
